#row {
    display: flex;
}

#calculatorBtns {
    display: grid;
    place-items: center;
    scale: 1.2;
}

#displayCalculation {
    display: grid;
    place-items: center;
    justify-content: end;
    text-align: right;
    font-size: 32px;
}

.functionKeys {
    border-radius: 50px;
    height: 55px;
    width: 55px;
    border: none;
    transition: 0.2s ease-in-out;
    background-color: rgb(92, 92, 92);
    color: white;
    margin-left: 10px;

    justify-content: center;
    text-align: center;
    display: flex;
}

.operatorKeys {
    border-radius: 50px;
    height: 55px;
    width: 55px;
    border: none;
    transition: 0.2s ease-in-out;
    background-color: rgb(255, 114, 33);
    color: white;
    margin-left: 10px;

    justify-content: center;
    text-align: center;
    display: flex;

    transition: 0.4s;
}

.numberKeys {
    border-radius: 50px;
    height: 55px;
    width: 55px;
    border: none;
    transition: 0.2s ease-in-out;
    background-color: rgb(44, 44, 44);
    color: white;
    margin-left: 10px;

    justify-content: center;
    text-align: center;
    display: flex;
}

#n0 {
    width: 120px;
}