.forms {
    display: flex;
    align-items: center;
    text-align: center
}

#passwordLength {
    border-radius: 50px;
    height: 55px;
    width: 55px;
    border: none;
    transition: 0.2s ease-in-out;
    background-color: rgb(44, 44, 44);
    color: white;
    margin-left: 10px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#adjustPasswordLengthUp, #adjustPasswordLengthDown {
    border-radius: 50px;
    height: 55px;
    width: 55px;
    border: none;
    transition: 0.2s ease-in-out;
    background-color: rgb(44, 44, 44);
    color: white;
    margin-left: 10px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#includingSymbols, #includingUppercaseLetters, #includingNumbers {
    border-radius: 50px;
    height: 55px;
    width: 55px;
    border: none;
    transition: 0.2s ease-in-out;
    background-color: rgb(44, 44, 44);
    color: white;
    margin-left: 10px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#displayGeneratedPassword {
    background-color: rgb(44, 44, 44);
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 55px;
}  

#displayGeneratedPassword::placeholder {
    padding-left: 10px;
    color: white;
}

#displayGeneratedPassword::placeholder::-webkit-input-placeholder {
    padding-left: 10px;
    color: white;
}

#generatePassword {
    background: none;
    position: absolute; 
    right: 0; 
    top: 0;
    justify-content: right;
    text-align: right;
    width: 40px;
}

#copyPassword {
    background: none;
    position: absolute; 
    right: 0; 
    top: 0;
    justify-content: right;
    width: 100px;
}

label {
    margin-left: 10px;
}