#stopwatch, #controlButtons {
    display: flex;
    justify-content: center;
    text-align: center;
}

#startStopwatch, #stopStopwatch, #resetStopwatch {
    border-radius: 50px;
    height: 55px;
    width: 150px;
    border: none;
    transition: 0.2s ease-in-out;
    background-color: rgb(44, 44, 44);
    color: white;
    margin-left: 10px;

    justify-content: center;
    text-align: center;
    display: flex;
}