#billAmount, #percentageAmount {
    border-radius: 50px;
    height: 40px;
    width: 260px;
    border: none;
    padding: 0.5em 1em;
    transition: 0.2s ease-in-out;
    background-color: rgb(44, 44, 44);
    color: white;
    font-size: 15px;
}

#billAmount::placeholder, #percentageAmount::placeholder {
    color: white;
}

#next1Btn, #next2Btn {
    border-radius: 50px;
    height: 55px;
    width: 55px;
    border: none;
    transition: 0.2s ease-in-out;
    background-color: rgb(44, 44, 44);
    color: white;
    margin-left: 10px;

    justify-content: center;
    text-align: center;
    display: flex;
}

#moneyPlaceholder {
    border-radius: 50px;
    height: 55px;
    width: 55px;
    border: none;
    transition: 0.2s ease-in-out;
    background-color: rgb(44, 44, 44);
    color: white;
    margin-left: 10px;
}


.tipForm, .percentageForm {
    display: flex;
}

#weatherDisplay {
    margin: 10px;
}